/* Styles généraux pour l'ensemble du corps */
body {
    font-family: Arial, sans-serif;
    margin: 50%;
    padding: 0;
    background-color: #222; /* Fond sombre pour le jeu */
    color: white;
}

/* Style pour le menu principal */
#menupong {
    text-align: center;
    margin-top: 50px;
}

#menupong h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#menupong button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menupong button:hover {
    background-color: #0056b3;
}

/* Formulaire de sélection des noms de joueurs */
#nameForm, #tournamentForm ,#freeforallForm{
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#nameForm h2, #tournamentForm h2 ,#freeforallForm h2{
    font-size: 28px;
    margin-bottom: 20px;
}

#nameForm select, #tournamentForm select ,#freeforallForm select{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 80%;
}

#nameForm button, #tournamentForm button ,#tournamentForm button ,#freeforallForm button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nameForm button:hover, #tournamentForm button:hover , #freeforallForm button:hover{
    background-color: #218838;
}

/* Style du menu de pause */
#pauseMenu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#pauseMenu h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pauseMenu button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pauseMenu button:hover {
    background-color: #388e3c;
}

