/* Styles généraux pour l'ensemble du corps */
html, body {
   
   margin: 0;  /*   Enlever toute marge par défaut  */
     padding: 0;  /* Enlever les espacements par défaut  */
    border: none; /* S'assurer qu'il n'y a pas de bordure   */
    outline: none; /* S'assurer qu'il n'y a pas de contour*/ 
    height: 100%; /* Prendre toute la hauteur disponible */
   
}

body { 
    pointer-events: none;
    font-family: Arial, sans-serif;
    /* background-color: #222; Fond sombre pour le jeu */
    color: white;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Faire en sorte que le corps prenne toute la hauteur de la fenêtre */
    overflow: hidden; /* Désactiver les barres de défilement si nécessaire */ 
    z-index: 1;
}

* {
    box-sizing: border-box; /* Assurer que les marges internes et bordures ne dépassent pas */
    outline: none; /* Désactiver tout contour ajouté par le navigateur */
}


/* Style pour le menu principal */
#menuP{
    text-align: center;
    margin-top: 50px;
}

#menuP h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#menuP button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menuP buttonquit {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d10c0c;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#menuP buttonquit:hover {
    background-color: #6c0505;
}
#menuP button:hover {
    background-color: #218838;
}

/* Formulaire de sélection des noms de joueurs */
#nameForm, #tournamentForm ,#freeforallForm{
    text-align: center;
    margin-top: 50px;
}

#nameForm h2, #tournamentForm h2 ,#freeforallForm h2{
    font-size: 28px;
    margin-bottom: 20px;
}

#nameForm select, #tournamentForm select ,#freeforallForm select{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 80%;
}

#nameForm button, #tournamentForm button ,#tournamentForm button ,#freeforallForm button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nameForm button, #tournamentForm button ,#tournamentForm button ,#freeforallForm button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nameForm button:hover, #tournamentForm button:hover , #freeforallForm button:hover{
    background-color: #218838;
}

/* Style du menu de pause */
#pauseMenu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#pauseMenu h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pauseMenu button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pauseMenu button:hover {
    background-color: #388e3c;
}

