{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block extra_css %}
<style>
    .a{}
    .status-online {
        color: green;
        font-weight: bold;
    }
    .status-offline {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
{% if user_profile.is_active %}
{% csrf_token %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center mb-4">{{ user_profile.nickname }}'s Profile</h2>
    </div>  
    <!-- Avatar and Info Section -->
    <!-- Display Avatar -->
    <div class="col-md-4">
        <div class="text-center p-1">
            <img src="{% if user_profile.avatar_url %}{{ user_profile.avatar_url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
        </div>
    </div>
    
    <!-- Vertical Separator -->
    <div class="col-md-1 d-none d-md-block">
        <div class="vertical-separator"></div>
    </div>
    
    <!-- Display Username/Nickname -->
    <div class="col-md-3">
        <div class="text-center mt-5">
            <div><strong>Username:</strong> {{ user_profile.username }}</div>
            <div><strong>Nickname:</strong> {{ user_profile.nickname }}</div>
            {% comment %} {% if user_profile.id == request.user.id %} {% endcomment %}
            {% if user_profile.is_online %}
            <p class="status-online"><strong>Online</strong></p>
            {% else %}
            <p class="status-offline"><strong>Offline</strong></p>
            {% endif %}
        </div>
    </div>
    
    <!-- Vertical Separator -->
    <div class="col-md-1 d-none d-md-block">
        <div class="vertical-separator"></div>
    </div>
    
    <div class="col-md-3">
        <div class="rounded">
            <div><strong>Wins:</strong> {{ user_profile.wins }}</div>
            <div><strong>Losses:</strong> {{ user_profile.losses }}</div>
            <div><strong>Tournament Wins:</strong> {{ user_profile.tournament_wins }}</div>
            <div><strong>Tournament Losses:</strong> {{ user_profile.tournament_losses }}</div>
        </div>  
        <div class="text-center p-3">
            <a href="{% url 'user_history' user_profile.id %}" class="btn btn-info">Match History</a>
        </div>  
    </div>
    
</div>

<!-- Horizontal Separator -->
<hr class="my-4 bg-light">

<h5 class="text-center mb-4">{{ user_profile.nickname }}'s Friends</h5>
<div class="user-list-container bg-dark p-4 rounded">
    <ul class="list-group">
        {%if friends%}
        {% for friend in friends %}
        <li class="list-group-item bg-secondary text-light d-flex align-items-center justify-content-between">
            <div class="col-md-2">
                <img src="{% if friend.avatar_url %}{{ friend.avatar_url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Avatar" class="img-fluid rounded-circle me-2" style="width: 35px; height: 35px;">
            </div>
            <div class="col-md-10 text-center">
                <strong>{{ friend.nickname }}</strong>
            </div>
        </li>
        {% endfor %}
        {% else %}
        {{user_profile.nickname}} has no friends
        {% endif %}
    </ul>
</div>

<!-- Horizontal Separator -->
<hr class="my-4 bg-light">
{% endif %}
{% endblock %}
