body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #28292d;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.form-control {
    background-color: #28292d;
    border: none;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important; 
    border-bottom: 1px solid #ffffff;
    color: #ffffff !important;
}

.form-control:focus {
    background-color: #28292d;
    color: #9ff9ff !important;
}

.form-control:hover {
    border-color: #45f3ff;
}

.mshide {
    display: none;
}

/* Контейнер для вертикального расположения иконок */
.icons {
    display: flex;
    flex-direction: column;  /* Расположить элементы вертикально */
    align-items: flex-start; /* Выровнять по левому краю */
    gap: 20px;               /* Задать расстояние между иконками */
    position: fixed;         /* Зафиксировать позицию контейнера */
    left: 20px;              /* Сдвинуть контейнер влево */
    top: 50px;               /* Отступ сверху */
}

/* Стили для иконок */
.profile-ico, .game-ico, .pool-ico {
    height: 70px;
    width: 70px;
    cursor: pointer;
}
