<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="mt-5 custom-text-color">Welcome to Transcendence</h1>
  <p class="lead custom-text-color">Transcendence is the concept of surpassing ordinary limitations, going beyond the usual physical, emotional, or intellectual experiences. It often refers to a state of being or consciousness that is above and beyond the ordinary realm of human existence.

    In a philosophical or spiritual context, transcendence is the process of rising above the material world and experiencing a higher state of consciousness or existence. This can involve connecting with a divine presence, achieving a deep sense of inner peace, or realizing profound truths about the universe and oneself.
    
    Transcendence can also be seen in various aspects of life, such as art, where it denotes the creation of something that inspires awe and surpasses conventional beauty, or in personal development, where it signifies overcoming personal limitations and reaching new heights of understanding and capability.
    
    Overall, transcendence is about breaking free from the constraints of the ordinary and accessing a higher plane of experience, understanding, or existence.</p>
  {% if user.is_authenticated %} 
  <div>
    <a href="{% url 'pong' %}" class="button">Click Here to play PONG</a>
  </div>
  <div>
    <a href="{% url 'ttt' user.id%}" class="button">Click Here to play Tic-Tac-Toe</a>
  </div>
  {% endif %}

  <div class="p-4">
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" class="btn btn-info">Profile</a>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% endif %}
  </div>
{% endblock %}
