{% extends "base.html" %}
{% load static %}
{% block title %}Management{% endblock %}
{% block extra_css %}
<style>
    .der{

    }
    .online{
        color: lightgreen
    }
    .offline{
        color: lightcoral
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
    {% if user.is_staff %}
        <p>You are allowed here</p>
        <ul class="list-group">
            {% for client in clients %}
                    <li class="list-group-item bg-secondary text-light d-flex align-items-center justify-content-between">
                    {% if client.is_online%}
                        <div class="d-flex align-items-center justify-content-center col-md-2 online">
                            <strong>{{ client.nickname }}</strong> (<strong>{{ client.username }}</strong>)
                    {%else%}
                        <div class="d-flex align-items-center justify-content-center col-md-2 offline">
                        <strong>{{ client.nickname }}</strong> (<strong>{{ client.username }}</strong>)
                    {%endif%}
                    </div>
                    <div class="d-flex align-items-center justify-content-center col-md-2 custom-text-color">
                        <a href="{% url 'Activate' client.id %}" class="btn btn-success">Activate</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center col-md-2 custom-text-color">
                        <a href="{% url 'DeActivate' client.id %}" class="btn btn-danger">DeActivate</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center col-md-2 custom-text-color">
                        <a href="{% url 'Makestaff' client.id %}" class="btn btn-primary">Give Staff Rights</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center col-md-3 custom-text-color">
                        <a href="{% url 'Remstaff' client.id %}" class="btn btn-danger">Remove Staff Rights</a>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No clients available.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You do not have permission to see this page</p>
    {% endif %}
{% endblock %}
