{% extends "base.html" %}
{% block title %}Match History{% endblock %}
{% block extra_css %}
<style>
    der {

    }
    .list-group-item {
        background-color: #343a40; /* Dark grey background */
        color: #ffffff; /* White text for contrast */
    }

</style>
{% endblock %}
{% block content %}
<h1 class="text-center mb-4 bold">My Match History</h1>

<!-- Matches Won -->
<h3>Matches Won</h3>
<ul class="list-group mb-4 ">
    {% for match in matches_won %}
        <li class="list-group-item">
            <strong>{{ match.winner.nickname }}</strong> has defeated <strong>{{ match.loser.nickname }}</strong> at {{match.game}}
            on {{ match.match_date }}
            {% if match.details %}
                <p><small>Details: {{ match.details }}</small></p>
            {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">No matches won.</li>
    {% endfor %}
</ul>

<!-- Matches Lost -->
<h3>Matches Lost</h3>
<ul class="list-group mb-4">
    {% for match in matches_lost %}
        <li class="list-group-item">
            <strong>{{ match.loser.nickname }}</strong> lost to <strong>{{ match.winner.nickname }}</strong> at {{match.game}}
             on {{ match.match_date }}
            {% if match.details %}
                <p><small>Details: {{ match.details }}</small></p>
            {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">No matches lost.</li>
    {% endfor %}
</ul>
<!-- Tournaments -->
<h3>Tournaments</h3>
<ul class="list-group">
    {% for tournament in tournaments %}
        <li class="list-group-item">
            <strong>{{ tournament.name }}</strong> ({{ tournament.start_date|date:"F j, Y" }} - {{ tournament.end_date|date:"F j, Y" }})
        </li>
    {% empty %}
        <li class="list-group-item">No tournaments available.</li>
    {% endfor %}
</ul>
{% endblock %}
