{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block  extra_css %}

{% endblock %}
{% block content %}
    <h2 class="text-center mb-4">My Profile</h2>
    {% csrf_token %}
    <div class="row">
        <!-- Display Avatar -->
        <div class="col-md-4">
            <div class="text-center mb-4">
                <img src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            </div>
        </div>
        
        <!-- Display Username/Nickname -->
        <div class="col-md-4">
            <div class="pt-5">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Nickname:</strong> {{ user.nickname }}</p>
            </div>
        </div>
        
        <!-- Display Friends -->
        <div class="col-md-4">
            <h4 class="text-center mb-2">Friends</h4>
            <div class="text-center mb-3">
                <a href="{% url 'user_list' %}" class="btn btn-primary">Find Friends</a>
                <br><br>
                <a href="{% url 'my_friends' %}" class="btn btn-warning">My Friends</a>
            </div>
        </div>
    </div>
    
    <!-- Stats Section -->
    <div class=container"custom-text-color">
        <h4 class="text-center mb-2">STATS</h4>
            <div class="p-4 rounded mb-1">
                <p><strong>Wins:</strong> {{ user.wins }}</p>
                <p><strong>Losses:</strong> {{ user.losses }}</p>
                <p><strong>Tournament Wins:</strong> {{ user.tournament_wins }}</p>
                <p><strong>Tournament Losses:</strong> {{ user.tournament_losses }}</p>
            </div>  
        </div>
        <a href="{% url 'update_password' %}" class="btn btn-info">Change Password</a>
        <a href="{% url 'update_profile' %}" class="btn btn-info">Update Profile</a>      
        </div>
{% endblock %}

