{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block extra_css %}
<!-- Additional CSS if needed -->
{% endblock %}
{% block content %}
{% if user.is_staff%}
<h2 class="text-center mb-4">Admin Profile</h2>
<div class="text-center p-2">
    <a href="{% url 'manage' %}" class="btn btn-info p-2">Manage</a>
</div>
{% else %}
<form id="delete-account-form" action="{% url 'delete' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete_account">
</form>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center mb-4">My Profile</h2>
    </div>  

    
    <!-- Avatar and Info Section -->
        <!-- Display Avatar -->
        <div class="col-md-4">
            <div class="text-center mb-4">
                <img src="{% if user_profile.avatar_url %}{{ user_profile.avatar_url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            </div>
        </div>
        
        <!-- Vertical Separator -->
        <div class="col-md-1 d-none d-md-block">
            <div class="vertical-separator"></div>
        </div>

        <!-- Display Username/Nickname -->
        <div class="col-md-3">
            <div class="pr-5 pt-5">
                <p><strong>Username:</strong> {{ user_profile.username }}</p>
                <p><strong>Nickname:</strong> {{ user_profile.nickname }}</p>
            </div>
        </div>
        
        <!-- Vertical Separator -->
        <div class="col-md-1 d-none d-md-block">
            <div class="vertical-separator"></div>
        </div>

        <!-- Display Friends -->
        <div class="col-md-3">
            <h4 class="text-center mb-1">Friends</h4>
            <br>
            <div class="text-center mb-3">
                <a href="{% url 'user_list' %}" class="btn btn-primary">Find Friends</a>
                <br><br>
                <a href="{% url 'my_friends' %}" class="btn btn-success">My Friends</a>
            </div> 
        </div>
    </div>

    <!-- Horizontal Separator -->
    <hr class="my-4 bg-light">
    
    <!-- Stats Section -->
    <h4 class="text-center mb-3">STATS</h4>

        <div class="p-1 rounded">
            <p><strong>Wins:</strong> {{ user_profile.wins }}</p>
            <p><strong>Losses:</strong> {{ user_profile.losses }}</p>
            <p><strong>Tournament Wins:</strong> {{ user_profile.tournament_wins }}</p>
            <p><strong>Tournament Losses:</strong> {{ user_profile.tournament_losses }}</p>
        </div>  
        <div class="text-center p-3">
            <a href="{% url 'match_history' %}" class="btn btn-info">Match History</a>
        </div>  
        

    <!-- Horizontal Separator -->
    <hr class="my-4 bg-light">

    <!-- Actions Section -->
    <div class="text-center p-2">
        <a href="{% url 'update_password' %}" class="btn btn-info p-2">Change Password</a> -
        <a href="{% url 'update_profile' %}" class="btn btn-info p-2">Update Profile</a>  -
        <a href="#" onclick="confirmDelete(); return false;" class="btn btn-outline-danger p-2">Delete Account</a>
    </div>
    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
                document.getElementById('delete-account-form').submit();
            }
        }
    </script>
    <div class="text-center p-2">
        <a href="{% url 'manage' %}" class="btn btn-info p-2">Manage</a> -
    </div>
{% endif %}
{% endblock %}
