{% extends "base.html" %}
{% block title %}Update Password{% endblock %}
{% block content %}
<div class="container mt-5 custom-text-color">
    <h2 class="text-center mb-4">Update Password</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8">
              
                <!-- Display Form Errors -->
                {% if change_password_form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ change_password_form.non_field_errors }}
                    </div>
                {% endif %}

                <!-- Change Password Form -->
                <h4 class="mt-4 mb-4">Change Password</h4>
                {{ change_password_form.as_p|safe }}
                
                <button type="submit" class="btn btn-warning btn-lg btn-block">Update Password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
