{% extends "base.html" %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<div class="container mt-5 custom-text-color">
    <h2 class="text-center mb-4">Update Profile</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- User Profile Form -->
                <h4 class="mt-4 mb-4">Update Profile</h4>
                {{ user_profile_form.as_p|safe }}
                <button type="submit" name="save_changes" class="btn btn-warning btn-lg btn-block">Save Changes</button>

                <!-- Avatar Form -->
                <h4 class="mt-4 mb-4">Update Avatar</h4>
                {{ avatar_form.as_p|safe }}

                <button type="submit" name="update_avatar" class="btn btn-info btn-lg btn-block">Update Avatar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
