{% extends "base.html" %}
{% load static %}
{% block title %}Find Friends{% endblock %}

{% block content %}
<div class="container mt-5 custom-text-color">
    <h2 class="text-center mb-4">Users</h2>
    <div class="user-list-container bg-dark p-4 rounded">
        <ul class="list-group">
        {% for user in users %}
            {% if user.username != 'master' and user.username != 'Guest' and user.username != 'IA'%}
            <li class="list-group-item bg-secondary text-light d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-center col-md-3">
                    <img src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 35px; height: 35px;">
                </div>
                <div class="d-flex align-items-center justify-content-center col-md-3">
                    <a href="{% url 'user_profile' user.id %}" class="btn btn-info">{{ user.nickname }}</a>
                </div>
                <div class="d-flex align-items-center justify-content-center col-md-3">
                    {% if user.username != logged_in_user.username %}
                        <a href="{% url 'add_friend' user.id %}" class="btn btn-primary">Add Friend</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
